@font-face {
  font-family: "Mplus1pBlack";
  src: url("./fonst/Mplus1pBlack.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1pBlack.woff2") format("woff2"),
    url("./fonst/Mplus1pBlack.woff") format("woff"),
    url("./fonst/Mplus1pBlack.ttf") format("truetype"),
    url("./fonst/Mplus1pBlack.svg#Mplus1pBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Mplus1pBold";
  src: url("./fonst/Mplus1pBold.eot") format("eot");
  src: url("./fonst/Mplus1pBold.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1pBold.woff2") format("woff2"),
    url("./fonst/Mplus1pBold.woff") format("woff"),
    url("./fonst/Mplus1pBold.ttf") format("truetype"),
    url("./fonst/Mplus1pBold.svg#Mplus1pBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Mplus1pExtraBold";
  src: url("./fonst/Mplus1pExtraBold.eot") format("eot");
  src: url("./fonst/Mplus1pExtraBold.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1pExtraBold.woff2") format("woff2"),
    url("./fonst/Mplus1pExtraBold.woff") format("woff"),
    url("./fonst/Mplus1pExtraBold.ttf") format("truetype"),
    url("./fonst/Mplus1pExtraBold.svg#Mplus1pExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Mplus1pLight";
  src: url("./fonst/Mplus1pLight.eot") format("eot");
  src: url("./fonst/Mplus1pLight.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1pLight.woff2") format("woff2"),
    url("./fonst/Mplus1pLight.woff") format("woff"),
    url("./fonst/Mplus1pLight.ttf") format("truetype"),
    url("./fonst/Mplus1pLight.svg#Mplus1pLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Mplus1pMedium";
  src: url("./fonst/Mplus1pMedium.eot") format("eot");
  src: url("./fonst/Mplus1pMedium.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1pMedium.woff2") format("woff2"),
    url("./fonst/Mplus1pMedium.woff") format("woff"),
    url("./fonst/Mplus1pMedium.ttf") format("truetype"),
    url("./fonst/Mplus1pMedium.svg#Mplus1pMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Mplus1p ";
  src: url("./fonst/Mplus1p.eot") format("eot");
  src: url("./fonst/Mplus1p.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1p.woff2") format("woff2"),
    url("./fonst/Mplus1p.woff") format("woff"),
    url("./fonst/Mplus1p.ttf") format("truetype"),
    url("./fonst/Mplus1p.svg#Mplus1p ") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Mplus1pThin  ";
  src: url("./fonst/Mplus1pThin.eot") format("eot");
  src: url("./fonst/Mplus1pThin.eot?#iefix") format("embedded-opentype"),
    url("./fonst/Mplus1pThin.woff2") format("woff2"),
    url("./fonst/Mplus1pThin.woff") format("woff"),
    url("./fonst/Mplus1pThin.ttf") format("truetype"),
    url("./fonst/Mplus1pThin.svg#Mplus1pThin  ") format("svg");
  font-weight: 250;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
